<div *ngIf="!user;then loading else loaded"></div>
<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
<ng-template #loaded>
  <div *ngIf="user">
    <div *ngIf="user.id == 0;then adding else editing"></div>
    <ng-template #adding>
      <h2>Add New User</h2>
    </ng-template>
    <ng-template #editing>
      <h2>Edit User</h2>
    </ng-template>
    <form #detailForm="ngForm"
          (ngSubmit)="save()"
          novalidate>
      <div class="form-group row">
        <label for="idInputControl"
               class="col-sm-3 col-form-label">
          Id:
        </label>
        <div class="col-sm-6">
          <input type="text"
                 id="idInputControl"
                 class="form-control"
                 name="id"
                 [(ngModel)]="user.id"
                 readonly />
        </div>
      </div>
      <div class="form-group row">
        <label for="firstNameInputControl"
               class="col-sm-3 col-form-label">
          First Name:
        </label>
        <div class="col-sm-6">
          <input type="text"
                 class="form-control"
                 id="firstNameInputControl"
                 name="firstName"
                 [(ngModel)]="user.firstName"
                 required
                 maxlength="20"
                 #firstName="ngModel" />
        </div>
      </div>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
           class="alert alert-danger form-group row col-sm-9">
        <div *ngIf="firstName.errors.required">
          First Name is required.
        </div>
      </div>
      <div class="form-group row">
        <label for="lastNameInputControl"
               class="col-sm-3 col-form-label">
          Last Name:
        </label>
        <div class="col-sm-6">
          <input type="text"
                 class="form-control"
                 id="lastNameInputControl"
                 name="lastName"
                 [(ngModel)]="user.lastName"
                 required
                 maxlength="20"
                 #lastName="ngModel" />
        </div>
      </div>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
           class="alert alert-danger form-group row col-sm-9">
        <div *ngIf="lastName.errors.required">
          Last Name is required.
        </div>
      </div>
      <div class="form-group row">
        <label for="emailInputControl"
               class="col-sm-3 col-form-label">
          Email:
        </label>
        <div class="col-sm-6">
          <input type="email"
                 class="form-control"
                 id="emailInputControl"
                 name="email"
                 [(ngModel)]="user.email"
                 required
                 email
                 maxlength="50"
                 #email="ngModel" />
        </div>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-danger form-group row col-sm-9">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.email">
          Email must be a valid email address.
        </div>
      </div>
      <div class="form-group row">
        <label for="dateOfBirthInputControl"
               class="col-sm-3 col-form-label">
          Date of Birth:
        </label>
        <div class="col-sm-5">
          <input [ngModel]="user.dateOfBirth | date:'yyyy-MM-dd'"
                 (ngModelChange)="user.dateOfBirth = $event"
                 name="dateOfBirth"
                 class="form-control"
                 type="date"
                 id="dateOfBirthInputControl"
                 required
                 #dob="ngModel" />
        </div>
      </div>
      <div *ngIf="dob.invalid && (dob.dirty || dob.touched)"
           class="alert alert-danger form-group row col-sm-9">
        <div *ngIf="dob.errors.required">
          Date of Birth is required.
        </div>
      </div>
      <input type="reset"
             (click)="goBack()"
             class="btn btn-outline-secondary"
             value="Cancel">
      <input type="submit"
             value="Save"
             class="btn btn-outline-success"
             [disabled]="!detailForm.valid">
    </form>
  </div>
</ng-template>
